services:



    liquetsoft_fias.informer.service:
        class: Liquetsoft\Fias\Component\FiasInformer\SoapFiasInformer
        arguments:
            - '%liquetsoft_fias.informer_wsdl%'

    Liquetsoft\Fias\Component\FiasInformer\FiasInformer:
        alias: liquetsoft_fias.informer.service



    liquetsoft_fias.downloader.service:
        class: Liquetsoft\Fias\Component\Downloader\CurlDownloader

    Liquetsoft\Fias\Component\Downloader\Downloader:
        alias: liquetsoft_fias.downloader.service



    liquetsoft_fias.unpacker.service:
        class: Liquetsoft\Fias\Component\Unpacker\ZipUnpacker

    Liquetsoft\Fias\Component\Unpacker\Unpacker:
        alias: liquetsoft_fias.unpacker.service



    liquetsoft_fias.xml_reader.service:
        class: Liquetsoft\Fias\Component\XmlReader\BaseXmlReader

    Liquetsoft\Fias\Component\XmlReader\XmlReader:
        alias: liquetsoft_fias.xml_reader.service



    liquetsoft_fias.serializer.serializer:
        class: Liquetsoft\Fias\Symfony\LiquetsoftFiasBundle\Serializer\FiasSerializer



    liquetsoft_fias.entity_registry.service:
        class: Liquetsoft\Fias\Component\EntityRegistry\PhpArrayFileRegistry
        arguments:
            - '%liquetsoft_fias.registry_path%'

    Liquetsoft\Fias\Component\EntityRegistry\EntityRegistry:
        alias: liquetsoft_fias.entity_registry.service



    liquetsoft_fias.entity_manager.service:
        class: Liquetsoft\Fias\Component\EntityManager\BaseEntityManager
        arguments:
            - '@liquetsoft_fias.entity_registry.service'
            - '%liquetsoft_fias.entity_bindings%'

    Liquetsoft\Fias\Component\EntityManager\EntityManager:
        alias: liquetsoft_fias.entity_manager.service



    liquetsoft_fias.storage.service:
        class: Liquetsoft\Fias\Symfony\LiquetsoftFiasBundle\Storage\DoctrineStorage
        arguments:
            - '@doctrine.orm.entity_manager'
            - '%liquetsoft_fias.insert_batch_count%'

    Liquetsoft\Fias\Component\Storage\Storage:
        alias: liquetsoft_fias.storage.service



    liquetsoft_fias.version_manager.service:
        class: Liquetsoft\Fias\Symfony\LiquetsoftFiasBundle\VersionManager\DoctrineVersionManager
        arguments:
            - '@doctrine.orm.entity_manager'
            - '%liquetsoft_fias.version_manager_entity%'

    Liquetsoft\Fias\Component\VersionManager\VersionManager:
        alias: liquetsoft_fias.version_manager.service



    liquetsoft_fias.files.paralleling_dispatcher:
        class: Liquetsoft\Fias\Component\FilesDispatcher\EntityFileDispatcher
        arguments:
            $entityManager: '@liquetsoft_fias.entity_manager.service'
            $entitiesToParallel:
                - AddressObject
                - House
                - Stead
                - Room
                - NormativeDocument

    Liquetsoft\Fias\Component\FilesDispatcher\FilesDispatcher:
        alias: liquetsoft_fias.files.paralleling_dispatcher



    liquetsoft_fias.task.cleanup:
        class: Liquetsoft\Fias\Component\Pipeline\Task\CleanupTask

    liquetsoft_fias.task.prepare.folder:
        class: Liquetsoft\Fias\Component\Pipeline\Task\PrepareFolderTask
        arguments:
            - '%liquetsoft_fias.temp_dir%'

    liquetsoft_fias.task.inform.full:
        class: Liquetsoft\Fias\Component\Pipeline\Task\InformFullTask
        arguments:
            - '@liquetsoft_fias.informer.service'

    liquetsoft_fias.task.inform.delta:
        class: Liquetsoft\Fias\Component\Pipeline\Task\InformDeltaTask
        arguments:
            - '@liquetsoft_fias.informer.service'

    liquetsoft_fias.task.download:
        class: Liquetsoft\Fias\Component\Pipeline\Task\DownloadTask
        arguments:
            - '@liquetsoft_fias.downloader.service'

    liquetsoft_fias.task.unpack:
        class: Liquetsoft\Fias\Component\Pipeline\Task\UnpackTask
        arguments:
            - '@liquetsoft_fias.unpacker.service'

    liquetsoft_fias.task.data.truncate:
        class: Liquetsoft\Fias\Component\Pipeline\Task\TruncateTask
        arguments:
            - '@liquetsoft_fias.entity_manager.service'
            - '@liquetsoft_fias.storage.service'

    liquetsoft_fias.task.data.select_files:
        class: Liquetsoft\Fias\Component\Pipeline\Task\SelectFilesToProceedTask
        arguments:
            - '@liquetsoft_fias.entity_manager.service'

    liquetsoft_fias.task.data.insert:
        class: Liquetsoft\Fias\Component\Pipeline\Task\DataInsertTask
        arguments:
            - '@liquetsoft_fias.entity_manager.service'
            - '@liquetsoft_fias.xml_reader.service'
            - '@liquetsoft_fias.storage.service'
            - '@liquetsoft_fias.serializer.serializer'

    liquetsoft_fias.task.data.delete:
        class: Liquetsoft\Fias\Component\Pipeline\Task\DataDeleteTask
        arguments:
            - '@liquetsoft_fias.entity_manager.service'
            - '@liquetsoft_fias.xml_reader.service'
            - '@liquetsoft_fias.storage.service'
            - '@liquetsoft_fias.serializer.serializer'

    liquetsoft_fias.task.data.upsert:
        class: Liquetsoft\Fias\Component\Pipeline\Task\DataUpsertTask
        arguments:
            - '@liquetsoft_fias.entity_manager.service'
            - '@liquetsoft_fias.xml_reader.service'
            - '@liquetsoft_fias.storage.service'
            - '@liquetsoft_fias.serializer.serializer'

    liquetsoft_fias.task.version.get:
        class: Liquetsoft\Fias\Component\Pipeline\Task\VersionGetTask
        arguments:
            - '@liquetsoft_fias.version_manager.service'

    liquetsoft_fias.task.version.set:
        class: Liquetsoft\Fias\Component\Pipeline\Task\VersionSetTask
        arguments:
            - '@liquetsoft_fias.version_manager.service'

    liquetsoft_fias.task.symfony_process_switcher:
        class: Liquetsoft\Fias\Component\Pipeline\Task\ProcessSwitchTask
        arguments:
            $filesDispatcher: '@liquetsoft_fias.files.paralleling_dispatcher'
            $pathToBin: '%liquetsoft_fias.path_to_console_bin%'
            $commandName: '%liquetsoft_fias.paralleling_running_command%'
            $numberOfParallel: '%liquetsoft_fias.number_of_parallel%'



    liquetsoft_fias.pipe.install:
        class: Liquetsoft\Fias\Component\Pipeline\Pipe\ArrayPipe
        arguments:
            $tasks:
                - '@liquetsoft_fias.task.prepare.folder'
                - '@liquetsoft_fias.task.inform.full'
                - '@liquetsoft_fias.task.download'
                - '@liquetsoft_fias.task.unpack'
                - '@liquetsoft_fias.task.data.truncate'
                - '@liquetsoft_fias.task.data.select_files'
                - '@liquetsoft_fias.task.symfony_process_switcher'
                - '@liquetsoft_fias.task.version.set'
            $cleanupTask: '@liquetsoft_fias.task.cleanup'
            $logger: '@logger'

    liquetsoft_fias.pipe.install_parallel_running:
        class: Liquetsoft\Fias\Component\Pipeline\Pipe\ArrayPipe
        arguments:
            $tasks:
                - '@liquetsoft_fias.task.data.insert'
                - '@liquetsoft_fias.task.data.delete'
            $cleanupTask: null
            $logger: '@logger'

    liquetsoft_fias.pipe.install_from_folder:
        class: Liquetsoft\Fias\Component\Pipeline\Pipe\ArrayPipe
        arguments:
            $tasks:
                - '@liquetsoft_fias.task.data.truncate'
                - '@liquetsoft_fias.task.data.select_files'
                - '@liquetsoft_fias.task.symfony_process_switcher'
            $cleanupTask: null
            $logger: '@logger'

    liquetsoft_fias.pipe.update:
        class: Liquetsoft\Fias\Component\Pipeline\Pipe\ArrayPipe
        arguments:
            $tasks:
                - '@liquetsoft_fias.task.version.get'
                - '@liquetsoft_fias.task.prepare.folder'
                - '@liquetsoft_fias.task.inform.delta'
                - '@liquetsoft_fias.task.download'
                - '@liquetsoft_fias.task.unpack'
                - '@liquetsoft_fias.task.data.select_files'
                - '@liquetsoft_fias.task.data.upsert'
                - '@liquetsoft_fias.task.data.delete'
                - '@liquetsoft_fias.task.version.set'
            $cleanupTask: '@liquetsoft_fias.task.cleanup'
            $logger: '@logger'



    liquetsoft_fias.command.install:
        class: Liquetsoft\Fias\Symfony\LiquetsoftFiasBundle\Command\InstallParallelCommand
        arguments:
            - '@liquetsoft_fias.pipe.install'
        tags:
            - { name: 'console.command' }

    liquetsoft_fias.command.install_parallel_running:
        class: Liquetsoft\Fias\Symfony\LiquetsoftFiasBundle\Command\InstallParallelRunningCommand
        arguments:
            - '@liquetsoft_fias.pipe.install_parallel_running'
        tags:
            - { name: 'console.command' }

    liquetsoft_fias.command.install_from_folder:
        class: Liquetsoft\Fias\Symfony\LiquetsoftFiasBundle\Command\InstallFromFolderCommand
        arguments:
            - '@liquetsoft_fias.pipe.install_from_folder'
        tags:
            - { name: 'console.command' }

    liquetsoft_fias.command.truncate:
        class: Liquetsoft\Fias\Symfony\LiquetsoftFiasBundle\Command\TruncateCommand
        arguments:
            - '@liquetsoft_fias.task.data.truncate'
        tags:
            - { name: 'console.command' }

    liquetsoft_fias.command.update:
        class: Liquetsoft\Fias\Symfony\LiquetsoftFiasBundle\Command\UpdateCommand
        arguments:
            - '@liquetsoft_fias.pipe.update'
        tags:
            - { name: 'console.command' }

    liquetsoft_fias.command.versions:
        class: Liquetsoft\Fias\Symfony\LiquetsoftFiasBundle\Command\VersionsCommand
        arguments:
            - '@liquetsoft_fias.informer.service'
            - '@liquetsoft_fias.version_manager.service'
        tags:
            - { name: 'console.command' }
